*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
.section-one{
    background-color: black;
    display:flex;
    flex-direction: column;
    padding-bottom: 5vh;
}
.left h1{
    color: #F9FAF8;
}

.button{
    background-color: #3882F6;
    padding:5px;
    border-radius:10px;
    flex-basis:2%;
}
.left h1{
    font-size:48px;
    font-weight: 800;
}
a{
    text-decoration: none;
}
.desc, .section-one a{
    font-size: 18px;
    color:#E5E7EB;
}
header{
    display:flex;
    padding:0 60px 40px 90px;
}
.links{
    margin-left:auto;
    display:flex;
    gap:20px;
    padding-top:20px;
}

.left,.right{
    display:flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
.main{
    display:flex;
}
.section-two{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
}
.rs-container{
    display: flex;
    gap:60px;
}
.info-head{
    font-size:36px;
    font-weight: 800;
    color:#1F2937;
}
.rs-container p{
    width:150px;
    text-align:center;
}

.section-three{
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
}
.quote-container{
    margin:50px;
    display: flex;
    flex-direction: column;
}
.quote{
    font-size:36px;
    color: #1F2937;
    font-style: italic;
    width:500px;
}
.quote-container p{
    display:flex;
    justify-content: flex-end;
}
.section-four{
    display:flex;
    justify-content: center;
    padding:100px;
}
.action-container{
    display: flex;
    background-color: black;
    color: white;
    padding:30px;
    border-radius: 10px;
    gap:100px;
}
.act{
    display:flex;
    align-items: center;
}
.act a{
    color:white;
    border:2px solid white;
    border-radius: 5px;
    padding:2px 7px;
}
.time{
    font-weight: bold;
}
footer{
    background-color: black;
    color:white;
    padding:20px;
    text-align: center;
}