*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
}
.section-one{
    background-color: #1F2937;
    display:flex;
    flex-direction: column;
    padding-bottom: 5vh;
}
.logo, .left h1{
    color: #F9FAF8;
}
.logo{
    font-size:24px;
}
.button{
    background-color: #3882F6;
    padding:5px;
    border-radius:10px;
    flex-basis:2%;
}
.left h1{
    font-size:48px;
    font-weight: 800;
}
.desc, a{
    font-size: 18px;
    color:#E5E7EB;
    text-decoration: none;
}
header{
    display:flex;
    padding:0 60px 40px 90px;
}
.links{
    margin-left:auto;
    display:flex;
    gap:20px;
}

.left,.right{
    display:flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}
.main{
    display:flex;
}
.section-two{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.rs-container{
    display: flex;
    gap:20px;
}
.info-head{
    font-size:36px;
    font-weight: 800;
    color:#1F2937;
}
.rs-container p{
    width:150px;
}
.rs-container img{
    border:5px solid #3882F6;
    border-radius:10px;
}
.section-three{
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
}
.quote-container{
    margin:50px;
    display: flex;
    flex-direction: column;
}
.quote{
    font-size:36px;
    color: #1F2937;
    font-style: italic;
    width:500px;
}
.quote-container p{
    display:flex;
    justify-content: flex-end;
}